.nav-bar
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 15vh;
  background-color: #E5E5E5;
}

p.message {
  color: black;
}

.logo
{
  margin: 15px;
  width: 15vw;
  display: inline-block;
  position: absolute;
}

.bar-button
{
  position: absolute;

  right: 2vh;
}

.show 
{  
  display: inline-block;
  margin-top: 3vh;
  right: 2vw;
  background-color: #597906;
  color: white;
  padding: 1.5vw 2.8vw;
  text-align: center;
  text-decoration: none;
  border-radius: 45px;
  font-family: 'Roboto Mono';
  font-size: 2.2vh;
}

body
{
  background-color: #E5E5E5;
  font-family: 'Roboto Mono';
}
.body
{
  width: 750px;
  margin: auto;
  margin-top: 20vh;
  text-align: center;
}

.info input
{
  font-family: 'Roboto Mono';
  border:none;
  outline: none;
  padding-top: 18px;
  padding-bottom: 18px;
}

input[type=submit]
{
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-family: 'Roboto Mono';
  font-weight: bold;
  color: white;
}

input[type=submit]:hover 
{
  background-color: #597906;
  border-radius: 6px;
}

#loginform p
{
  font-family: 'Roboto Mono';
  text-decoration: none;
  color: white;
  font-size: 13px;
}

#loginform a
{
  color: white;
  text-decoration: none;
  font-size: 13px;
}

#footer
{
  margin-top: -25px;
}

#footer p
{
  color: green;
  font-size: 15px;
}

#footer p a
{
  color: green;
  text-decoration: none;
  font-weight: bold;
}

input[name = c_name], input[type=text], input[name = s_name], input[type=number]
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 6px;
  font-family: 'Roboto Mono';
  box-sizing: border-box;
  border: none;
}

#a_f_month, #a_f_year, #s_f_month, #s_f_year, #e_f_year, #e_f_month
{

  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 6px;
  font-family: 'Roboto Mono';
  box-sizing: border-box;
  border: none;
  
}

#message p
{
    color: black;
}

#result-label
{
  justify-content: left;
}

.donation-btn
{
  width: 100%;
  background-color: black;
  color: white;
  padding: 6px 10px;
  margin: 20px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-family: 'Roboto Mono';
  font-weight: bold;
  color: white;
}

.links-container
{
  margin: 0 auto;
  width: 18%;
}

#link1, #link2 {
  display: block;
}

#link2 {
  margin-top: 20px; /* Change this value to adjust the vertical position of the second link */
}

.container2, .container3, .container4, .container5, .container6
{
  margin-top: 20px;
}

#link1:hover
{
  background-color: #597906;
  border-radius: 6px;
}

#link2:hover
{
  background-color: #597906;
  border-radius: 6px;
}