.nav-bar
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 100px;
  background-color: #E5E5E5;
}

.logo
{
  margin: 15px;
}

.nav-bar a { 
}


/* go back button*/
.show {  
    position: absolute;
    margin-top: 25px;
    right: 15px;
      background-color: #597906;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 45px;
  font-family: 'Roboto Mono';
  }


body{
    background-color: #E5E5E5;
    font-family: 'Roboto Mono';

}
.body{
    width: 200px;
    margin: auto;
    margin-top: 150px;
    text-align: center;
}
#tick-mark {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    
}

#tick-mark::before {
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    width: 3px;
    background-color: #597906;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}

#tick-mark::after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #597906;
    content: "";
    transform: translateX(10px) rotate(-45deg);
    transform-origin: left bottom;
}
