.nav-bar
{
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  /* width: 100%; */
  height: 100px;
  background-color: #E5E5E5;
}

.logo
{
  margin: 15px;
}

body{
    background-color: #E5E5E5;
    font-family: 'Roboto Mono';

}
.body{
    width: 200px;
    margin: auto;
    margin-top: 150px;
    text-align: center;
}
.logo{
    color: white;
    font-size: 50px;
    margin-bottom: -17px;
}
.header {
    color: white;
    font-size: 15px;
    margin-bottom: -4px;
}

.register-btn
{
  background-color: #597906;
  color: white;
  padding: 34px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 45px;
  width: 100px;

}

.login-btn
{
  background-color: #597906;
  color: white;
  padding: 34px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 45px;
  /* margin: 50px; */
  margin-right: 0px;
  width: 100px;
  margin-top: 20px;


}

.container
{
  margin-top:250px;
  margin-bottom: 200px;
}

