body{
    background-color: #E5E5E5;
    font-family: 'Open Sans', sans-serif;
}

.container{
  width:50%;
}

.rectangle {
    position: fixed;
    top:0px;
    right:0px;
    height: 100%;
    width: 50%;
    background: #80B201;
    
}

.img-logo {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.form
{
  text-align:center;
  width: 250px;
   margin: auto;
   margin-top: 250px;
}

/* .login{
    background-color: white;
    border-radius: 8px;
  
}

.login input{
    font-family: 'Open Sans', sans-serif;
    border:none;
    outline: none;
padding-top: 18px;
    padding-bottom: 18px;
    width: 220px;
}

.submit-button
{
  background-color: #0B6AB4;
    width:100%;
    border: none;
    outline: none;
    border-radius: 7px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 16px;
}
 */

/* Style inputs */
  input[type=text], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type=submit] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: white;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: #45a049;
  border-radius: 6px;
}

.footer p
{
  color: white;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

.footer p a
{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}
