<!DOCTYPE html>
<html>
<head>
    <title>Project</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="nav-bar">
      <img src = "http://taleemgah.arche-tech.com/img/logo.png" class = "logo" width = 220px>
    </div>
    
    
    <div class="body">
        <div id="loginform">
            <div class="container">
                
                {% if message %}
                    <p class = "message"> {{ message | safe }} </p>
                {% endif %}


                <form action = "/edit_student_record_submit" method = "POST">
                    <div class="info">

                        <input type="text" placeholder="First Name" name="1" value="{{edit_item[1]}}" required>
                        <input type="text" placeholder="Last Name" name="2" value="{{edit_item[2]}}" required>
                        <input type="text" placeholder="Date of Birth" name="3" value="{{edit_item[3]}}" required>
                        <input type="text" placeholder="Guardian First Name" name="4" value="{{edit_item[4]}}" required>
                        <input type="text" placeholder="Guardian Last Name" name="5" value="{{edit_item[5]}}" required>
                        <input type="text" placeholder="Guardian CNIC" name="6" value="{{edit_item[6]}}" required>
                        <input type="text" placeholder="Guardian Number" name="7" value="{{edit_item[7]}}" required>
                        <input type="text" placeholder="Address" name="8" value="{{edit_item[8]}}" required>
                        <input type="text" placeholder="B-Form" name="9"  value="{{edit_item[9]}}" required>
                        <input type="text" placeholder="Gender" name="10" value="{{edit_item[10]}}" required >
                        <input type="text" placeholder="Nationality" name="11" value="{{edit_item[11]}}" required >
                        

                        <input type="submit" value="Update Record">
                    </div>
                </form>
            </div>  
        </div> 
    </div>
</body>
</html>