<!DOCTYPE html>
<html>
<head>
    <title>Project</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
    <link rel = "stylesheet" href = "../static/style-welcome.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  
    <div class="nav-bar">
      <img src = "http://taleemgah.arche-tech.com/img/logo.png" class = "logo" width = 220px>
      
      <a class = "show" href = "{{url_for('home')}}">go back</a>
    </div>
    
    <div class="body">
  
      <div id="loginform">
 
              
           

                <div class="info">
                <label class="radio-inline">
      <input type="radio" name="optradio" checked>Year
    </label>
    <label class="radio-inline">
      <input type="radio" name="optradio">Month
    </label>
                
                <input type="text" placeholder="Enter Expense" name="Enter Expense" required>
      <input type="text" placeholder="Enter Donation" name="Enter Donation" required>
                </div>

                <div class="login">
                    <input type="submit" value="Add" />
                    <input type="submit" value="Generate" />
                </div>
        </div>  
        

        
    </div>
</body>
</html>
