<!DOCTYPE html>
<html>
<head>
    <title>Project</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
    <link rel = "stylesheet" href = "../static/style-welcome.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  
    <div class="nav-bar">
      <img src = "http://taleemgah.arche-tech.com/img/logo.png" class = "logo" width = 220px>
      
      <a class = "show" href = "{{url_for('home')}}">go back</a>
    </div>
    
    <div class="body">

              
                <div class="info">
                <div id="tick-mark"></div>
                <p>
                Financial sheet generated
                </p>
                
                
        
      
        </div>
    </div>
</body>
</html>
