<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel = "stylesheet" href = "../static/style-login.css">
    <title>Login</title>

</head>
<body>

    <div class = "container">
        <img src = "http://taleemgah.arche-tech.com/img/logo.png" class = "img-logo">

        <div class="header">
            <h1>Login</h1>
        </div>
    </div>


    <div class ="rectangle">
      {% if message %}
            <p class = "message"> {{ message | safe }} </p>
        
      {% endif %}
   
        <div class="form">
            <form action = "/submit" method = "POST">
                 
                   <input type="text" id="fname" name="firstname" placeholder = "Email Address">
                    <input type="text" id="lname" name="lastname" placeholder = "Password">
                    <input type="submit" value="Submit">
                 
                 
                <div class="footer">
                <p>Don't have an account yet?<a href = "{{url_for('register')}}"> Sign Up</a></p>
                </div>

            </form>
        </div>
    </div>

</body>
</html>
