<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel = "stylesheet" href = "../static/style-login.css">
    <title>Login</title>

</head>
<body>
    <div class="main">
        <div class = "container">
            <img src = "http://taleemgah.arche-tech.com/img/logo.png" class = "img-logo">
            <a href = "{{url_for('home')}}">go back</a>

        </div>


        <div class ="rectangle">
        {% if message %}
                <p class = "message"> {{ message | safe }} </p>
            
        {% endif %}
    
            <div class="form">
                <form action = "/submit" method = "POST">
                    
                    <input type="text" name="uname" placeholder = "Username">
                        <input type="text" name="pass" placeholder = "Password">
                        <input type="submit" value="Log in">
                    
                    
                    <div class="footer">
                    <a href = "{{url_for('verify')}}"> forgot your password?</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>
</html>
