<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel = "stylesheet" href = "../static/style-login.css">
    <title>Welcome Admin</title>

</head>
<body>
    <img src = "../static/taleem-gah logo.png" class = "logo"></img>
    <a href = "{{url_for('login')}}">Log Out</a>

    {% if session['user_info_name'] %}
        <h1>Welcome {{ session['user_info_name'] }}!</h1>
    {% endif %}

    
    <div class="info">
        <a class="report-btn" href = "{{url_for('student_report')}}">Generate Report Card</a>
        <a class="records-btn" href = "{{url_for('student_records')}}">View Records</a>

    </div>  

</body>



</html>