<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel = "stylesheet" href = "../static/style-login.css">
    <title>Forgot Your Password?</title>

</head>
<body>
    <div class="main">
        <div class = "container">
            <img src = "http://taleemgah.arche-tech.com/img/logo.png" class = "img-logo">
            <a href = "{{url_for('home')}}">go back</a>

        </div>


        <div class ="rectangle">
        {% if message %}
                <p class = "message"> {{ message | safe }} </p>
        {% endif %}
    
            <div class="form">
                <form action = "/verification" method = "POST">
                    
                    <input type="text" name="u_email" placeholder = "Email Address">
                        <input type="text" name="u_cnic" placeholder = "CNIC">
                        <input type="submit" value="Verify">

                </form>
            </div>
        </div>
    </div>
</body>
</html>