<!DOCTYPE html>
<html>
<head>
    <title>Project</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
    <link rel = "stylesheet" href = "../static/style-display-faculty-records.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="nav-bar">
      <img src = "http://taleemgah.arche-tech.com/img/logo.png" class = "logo" width = 220px>
    </div>

    {% if message %}
                <p class = "message"> {{ message | safe }} </p>
    {% endif %}


    <table id = "customers">
        <tr>
            <th> Student ID </th>
            <th> First Name </th>
            <th> Last Name </th>
            <th> Date of Birth </th>
            <th> Guardian First Name </th>
            <th> Guardian Last Name </th>
            <th> Guardian CNIC </th>
            <th> Guardian Number </th>
            <th> Address </th>
            <th> CNIC</th>
            <th> Gender </th>
            <th> Nationality </th>
        </tr>
        
        {% for x in range(0, len) %}
        <tr>
            {% for y in student_records_object[x] %}

            <td>{{y}}</td>
            
            {% endfor %}
            <td>
                <div class="button">
                    <form action="{{ url_for('delete_student_records') }}" method = "POST">
                        <input type="hidden"  name = '0'  value="{{student_records_object[x][0]}}">
                        <input type="hidden"  name = '1'  value="{{student_records_object[x][1]}}">
                        <input type="hidden"  name = '2'  value="{{student_records_object[x][2]}}">
                        <input type="hidden"  name = '3'  value="{{student_records_object[x][3]}}">
                        <input type="hidden"  name = '4'  value="{{student_records_object[x][4]}}">
                        <input type="hidden"  name = '5'  value="{{student_records_object[x][5]}}">
                        <input type="hidden"  name = '6'  value="{{student_records_object[x][6]}}">
                        <input type="hidden"  name = '7'  value="{{student_records_object[x][7]}}">
                        <input type="hidden"  name = '8'  value="{{student_records_object[x][8]}}">
                        <input type="hidden"  name = '9'  value="{{student_records_object[x][9]}}">
                        <input type="hidden"  name = '10'  value="{{student_records_object[x][10]}}">
                        <input type="hidden"  name = '11'  value="{{student_records_object[x][11]}}">

                        <input type = "submit" value = "Delete">
                    </form>
                </div>

                <div class="button">
                    <form action="{{ url_for('edit_student_records') }}" method = "POST">
                        <input type="hidden"  name = '0'  value="{{student_records_object[x][0]}}">
                        <input type="hidden"  name = '1'  value="{{student_records_object[x][1]}}">
                        <input type="hidden"  name = '2'  value="{{student_records_object[x][2]}}">
                        <input type="hidden"  name = '3'  value="{{student_records_object[x][3]}}">
                        <input type="hidden"  name = '4'  value="{{student_records_object[x][4]}}">
                        <input type="hidden"  name = '5'  value="{{student_records_object[x][5]}}">
                        <input type="hidden"  name = '6'  value="{{student_records_object[x][6]}}">
                        <input type="hidden"  name = '7'  value="{{student_records_object[x][7]}}">
                        <input type="hidden"  name = '8'  value="{{student_records_object[x][8]}}">
                        <input type="hidden"  name = '9'  value="{{student_records_object[x][9]}}">
                        <input type="hidden"  name = '10'  value="{{student_records_object[x][10]}}">
                        <input type="hidden"  name = '11'  value="{{student_records_object[x][11]}}">

                        <input type = "submit" value = "Edit">
                    </form>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

