<!DOCTYPE html>
<html>
<head>
    <title>Project</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
    <link rel = "stylesheet" href = "../static/style-display-faculty-records.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="nav-bar">
      <img src = "http://taleemgah.arche-tech.com/img/logo.png" class = "logo" width = 220px>
    </div>



    <table id = "customers">
        <tr>
            <th> Faculty ID </th>
            <th> First Name </th>
            <th> Last Name </th>
            <th> CNIC </th>
            <th> Address </th>
            <th> Username </th>
            <th> Email </th>
            <th> Phone Number </th>
            <th> Faculty Type </th>
        </tr>
        
        {% for x in range(0, len) %}
        <tr>
            {% for y in faculty_records_object[x] %}

            <td>{{y}}</td>

            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>

