<!DOCTYPE html>
<html>
<head>
    <title>Project</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet'>
    <link rel = "stylesheet" href = "../static/style-welcome.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <div class="nav-bar">
      <img src = "http://taleemgah.arche-tech.com/img/logo.png" class = "logo" width = 220px>
    </div>
    
    
    <div class="body">

        <div id="loginform">

               <div class="container">
               
               
                <div class="info">
                    <a class="register-btn" href = "{{url_for('register')}}">Register</a>
                    <a class="login-btn" href = "{{url_for('login')}}">Log in</a>
           
                </div>  
             </div>
        </div>  

        
    </div>
</body>
</html>


